<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%=homeCont%></p>

<%  parsedJSON.forEach(function(name){ %>
  <h1><%= name.title %></h1>
  <p><%= name.content.substring(0, 100) + "...." %><a href="/posts/<%= name.title %>">Read More</a></p>
<%  }); %>


<%- include("partials/footer"); -%>
